.heading-h2{
    margin: 3%;
    text-align: center;
    font-weight: 700;
    color: beige;
}

/* Home Page */
.home-page{
    
background-image: url('../images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  
    
}
.home-page h1{
    font-size: 4rem;
    opacity: 0.4;
}

/* About Me */
.about-me-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border: rgb(105, 85, 58) solid 1px; */
    box-shadow: 4px 4px 5px 25px rgba(222, 184, 135, .04);
    height: 70vh;
    margin-top: 5%;

}

.about-me-heading{
    font-size: 3rem;

}
.education{
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.education img{
    margin-right: 1%;
    width:auto;
    height:15vh;
    
}
