html,body{
  margin:0;
  height: 100%;
 background-color: #221E1F;
  
}
 .app-body{
   margin: 2% 10%;
   color: cornsilk;
 }
/* NAV BAR CSS */
.ml-auto{
  padding-right: 20px;}

#nav-color{
  /* background-color: rgb(38, 41, 36); */
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;
  padding: 0 8%;
  
}
.nav-title-brand{
  /* font-family: 'Lobster', cursive; */
  
  font-size: 1.6rem;
  padding-left: 5%;
}


/* Carousel  */
.carousel-inner > .carousel-item > img {
  height:92vh;
  
  
}

/* Mechanical Page CSS */
  .mechanical-page{
    margin:2%;
  }

  

  /* Footer CSS */

  .footerB{
    margin:0;
    padding-bottom: 0%;
    background-color: rgb(68, 66, 66);
    position:relative;
    width:100%;
    bottom:0;

  }

  .footerB p{
    padding-top:1%;
    color: rgb(230, 233, 227);
    text-align: center;
  }